html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  /* 1 rem = 20px */
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", "Roboto";
}

.nav1 li {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5vw;
}
.nav1 li .home1,
.nav1 li .contact1 {
  border-bottom: 3px solid #4CEEA7;
  padding-bottom: 1%;
}

.nav1 a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 9vw;
  text-transform: uppercase;
}

.section2-wrapper {
  text-align: center;
}
.section2-wrapper .paragraph1 h2 {
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .section2-wrapper .paragraph1 h2 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section2-wrapper .paragraph1 h2 {
    font-size: 6vw;
  }
}
.section2-wrapper .paragraph1 .p1 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  letter-spacing: 1px;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .section2-wrapper .paragraph1 .p1 {
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .section2-wrapper .paragraph1 .p1 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.section3-h3-right {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 820px) {
  .section3-h3-right {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section3-h3-right {
    font-size: 6vw;
  }
}

.section3-h3-left {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}
@media only screen and (max-width: 820px) {
  .section3-h3-left {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section3-h3-left {
    font-size: 6vw;
  }
}

.p2 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  letter-spacing: 1px;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .p2 {
    text-align: center;
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p2 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.p3 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  letter-spacing: 1px;
  text-align: right;
}
@media only screen and (max-width: 820px) {
  .p3 {
    text-align: center;
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p3 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.button1,
.button2,
.button3,
.button4 {
  font-family: "Playfair Display";
  font-size: 1.5vw;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .button1,
.button2,
.button3,
.button4 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .button1,
.button2,
.button3,
.button4 {
    font-size: 3.5vw;
  }
}

.section4-h3 {
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .section4-h3 {
    text-align: center;
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section4-h3 {
    font-size: 6vw;
  }
}

.p4 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  text-align: left;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .p4 {
    text-align: center;
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p4 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.section6-h3 {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 820px) {
  .section6-h3 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section6-h3 {
    font-size: 6vw;
  }
}

.p5 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  text-align: left;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .p5 {
    text-align: center;
    font-size: 3vw;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p5 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.copyright {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  color: #FAFAFA;
}
@media only screen and (max-width: 820px) {
  .copyright {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 320px) {
  .copyright {
    font-size: 4vw;
  }
}

.contact-h1 {
  font-size: 5.5vw;
}

.form-container,
.form-container2 {
  font-family: "Roboto";
  font-size: 1.8vw;
  font-style: normal;
}
@media only screen and (max-width: 820px) {
  .form-container input,
.form-container2 input {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 320px) {
  .form-container input,
.form-container2 input {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 820px) {
  .form-container textarea,
.form-container2 textarea {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 320px) {
  .form-container textarea,
.form-container2 textarea {
    font-size: 3.5vw;
  }
}
.form-container .submit-button,
.form-container2 .submit-button {
  font-family: "Playfair Display";
  font-size: 1.8vw;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .form-container .submit-button,
.form-container2 .submit-button {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .form-container .submit-button,
.form-container2 .submit-button {
    font-size: 3.5vw;
  }
}

.p6 {
  font-family: "Playfair Display";
  font-size: 2w;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
}
@media only screen and (max-width: 320px) {
  .p6 {
    font-size: 4vw;
    text-align: center;
  }
}

.p7,
.p8,
.p9 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 2.5vw;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
}
@media only screen and (max-width: 820px) {
  .p7,
.p8,
.p9 {
    text-align: left;
    font-size: 2vw;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .p7,
.p8,
.p9 {
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
  }
}

.blog-h1 {
  font-size: 4.5vw;
}
@media only screen and (max-width: 820px) {
  .blog-h1 {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 320px) {
  .blog-h1 {
    font-size: 8vw;
  }
}

.about {
  border-bottom: 3px solid #4CEEA7;
  padding-bottom: 1%;
}

.lower-p1-h3,
.lower-p2-h3 {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .lower-p1-h3,
.lower-p2-h3 {
    font-size: 5vw;
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  .lower-p1-h3,
.lower-p2-h3 {
    font-size: 6vw;
    text-align: center;
  }
}

.comments-h3 {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .comments-h3 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .comments-h3 {
    font-size: 6vw;
    text-align: center;
  }
}

@media only screen and (max-width: 820px) {
  ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 320px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
}

li {
  color: #4CEEA7;
  margin: 0;
}
@media only screen and (max-width: 820px) {
  li {
    text-align: left;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  li {
    text-align: center;
    line-height: 5vw;
  }
}
li .post-a {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 2.5vw;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0;
  color: black;
}
@media only screen and (max-width: 820px) {
  li .post-a {
    text-align: left;
    font-size: 2vw;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  li .post-a {
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
  }
}

.button5 {
  font-weight: bold;
  font-style: italic;
  border: none;
  background-color: white;
}

.right-p-h2 {
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .right-p-h2 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .right-p-h2 {
    font-size: 6vw;
  }
}

.find1 {
  font-family: "Playfair Display";
  font-size: 1.5vw;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .find1 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .find1 {
    font-size: 3.5vw;
  }
}

.find2 {
  font-family: "Roboto";
  font-size: 1.5vw;
  line-height: 2.5vw;
  letter-spacing: 1px;
  margin: 0;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .find2 {
    text-align: left;
    font-size: 2vw;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .find2 {
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
  }
}

.read1 {
  font-family: "Playfair Display";
  font-size: 1.5vw;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .read1 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .read1 {
    font-size: 3.5vw;
  }
}

body {
  background-color: #EFFDF3;
}

.section1-wrapper {
  position: relative;
}
.section1-wrapper .nav1 {
  width: 100%;
  max-width: 1920px;
  position: absolute;
  top: 2%;
  padding-right: 5%;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .nav1 {
    display: none;
  }
}
.section1-wrapper .nav1 ul {
  list-style-type: none;
  gap: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.section1-wrapper .fa-bars {
  display: none;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .fa-bars {
    background-color: rgb(241, 234, 234);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 5vw;
    padding: 2%;
  }
}
.section1-wrapper .image1-container {
  width: 100%;
  height: 100%;
}
.section1-wrapper .image1-container .image1 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section1-wrapper .h1-container {
  width: 100%;
  height: 100%;
}
.section1-wrapper .h1-container .blog-h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 3%;
  right: 0;
  top: 5%;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .h1-container .blog-h1 {
    top: 3%;
    left: 0%;
    width: 50%;
    text-align: center;
    border-bottom: 5px solid #FDFA69;
  }
}
@media only screen and (max-width: 320px) {
  .section1-wrapper .h1-container .blog-h1 {
    top: 2%;
  }
}
.section1-wrapper .section1-lower {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .section1-lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section1-wrapper .section1-lower .lower-left {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .section1-lower .lower-left {
    width: 100%;
  }
}
.section1-wrapper .section1-lower .lower-left .lower-left-p {
  width: 70%;
  height: 50%;
  background-color: white;
  margin-left: 10%;
  padding: 60% 0 5% 0;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .section1-lower .lower-left .lower-left-p {
    width: 100%;
    -webkit-transform: none;
            transform: none;
    padding: 0 5%;
    margin: 0;
  }
}
.section1-wrapper .section1-lower .lower-left .lower-left-p .lower-p1,
.section1-wrapper .section1-lower .lower-left .lower-left-p .lower-p2 {
  padding: 0 5% 0 5%;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .section1-lower .lower-left .lower-left-p .lower-p1,
.section1-wrapper .section1-lower .lower-left .lower-left-p .lower-p2 {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .section1-lower .lower-left .lower-left-p .lower-p1 ul,
.section1-wrapper .section1-lower .lower-left .lower-left-p .lower-p2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}
.section1-wrapper .section1-lower .lower-left .left-image-container {
  height: 50%;
  margin-top: 20%;
  z-index: 1;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .section1-lower .lower-left .left-image-container {
    margin: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section1-wrapper .section1-lower .lower-left .left-image-container .left-image {
  width: 75%;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .section1-lower .lower-left .left-image-container .left-image {
    width: 100%;
  }
}
.section1-wrapper .section1-lower .lower-right {
  width: 50%;
}
.section1-wrapper .lower-right-container {
  width: 55%;
  height: 100%;
  -webkit-transform: translateY(-7.5%);
          transform: translateY(-7.5%);
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .lower-right-container {
    margin-top: 5%;
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
}
.section1-wrapper .lower-right-container .right-image-container {
  width: 100%;
  height: 100%;
  box-shadow: -10px 20px 0px 0px rgb(253, 250, 105);
  -webkit-box-shadow: -10px 20px 0px 0px rgb(253, 250, 105);
  -moz-box-shadow: -10px 20px 0px 0px rgb(253, 250, 105);
}
.section1-wrapper .lower-right-container .right-image-container .right-image {
  width: 100%;
}
.section1-wrapper .lower-right-container .lower-right-lower {
  width: 100%;
  padding: 5% 10% 2% 5%;
  box-shadow: -10px 10px 0px 0px rgb(253, 250, 105);
  -webkit-box-shadow: -10px 10px 0px 0px rgb(253, 250, 105);
  -moz-box-shadow: -10px 10px 0px 0px rgb(253, 250, 105);
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .lower-right-container .lower-right-lower {
    padding: 10% 10% 3% 5%;
  }
}
@media only screen and (max-width: 320px) {
  .section1-wrapper .lower-right-container .lower-right-lower {
    padding: 15% 10% 2% 5%;
  }
}
.section1-wrapper .lower-right-container .lower-right-lower .right-p-heading {
  margin-bottom: 10%;
}
.section1-wrapper .lower-right-container .lower-right-lower .right-p-heading .right-p-h2 {
  margin: 0;
}
@media only screen and (max-width: 320px) {
  .section1-wrapper .lower-right-container .lower-right-lower .right-p-heading .right-p-h2 {
    text-align: center;
    padding-bottom: 3%;
  }
}
.section1-wrapper .comments-wrapper .comments-container .comments-heading {
  padding: 5% 10% 5% 5%;
}
.section1-wrapper .comments-wrapper .comments-container .comments-paragraph1 {
  padding: 0 10% 0 5%;
}
.section1-wrapper .comments-wrapper .comments-container .comments-paragraph1 .male-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  margin-bottom: 15%;
}
.section1-wrapper .comments-wrapper .comments-container .comments-paragraph1 .male-image-wrapper .jeremy-comment .p8 {
  margin-bottom: 1%;
}
.section1-wrapper .comments-wrapper .comments-container .comments-paragraph2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  padding: 0 10% 0 5%;
}
.section1-wrapper .comments-wrapper .comments-container .comments-paragraph2 .jeremy-comment .p8 {
  margin-bottom: 1%;
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 {
  width: 100%;
  margin-top: 10%;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .comments-wrapper .comments-container .form-container2 {
    padding: 0 5%;
  }
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 {
    width: 100%;
  }
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .form-upper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .form-upper .name,
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .form-upper .email-address {
  width: 100%;
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .form-upper .name input,
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .form-upper .email-address input {
  background-color: #EFFDF3;
  width: 100%;
  border: none;
  border-bottom: 2px solid #4CEEA7;
  padding: 1vh;
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .comment {
  width: 100%;
  padding: 5% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .comment textarea {
  background-color: #EFFDF3;
  width: 100%;
  height: auto;
  border: 2px solid #4CEEA7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 3% 0 0 3%;
}
.section1-wrapper .comments-wrapper .comments-container .form-container2 .form2 .blog-submit {
  width: 100%;
  margin: 5% 0;
  border: none;
  background-color: #4CEEA7;
  padding: 1% 2%;
  text-align: center;
  padding: 2% 0;
}

.blog-footer {
  background-color: #2C2C2C;
  padding: 1%;
}
.blog-footer .copyright {
  margin: 0;
}

.nav1-a1:hover {
  color: #4CEEA7;
}

.submit-button:hover {
  color: #FDFA69;
}

.find2:hover {
  color: #4CEEA7;
}

.post-a:hover {
  color: #4CEEA7;
}

.left-image {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.left-image:hover {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.right-image {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.right-image:hover {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}