html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  /* 1 rem = 20px */
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", "Roboto";
}

.nav1 li {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5vw;
}
.nav1 li .home1,
.nav1 li .contact1 {
  border-bottom: 3px solid #4CEEA7;
  padding-bottom: 1%;
}

.nav1 a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 9vw;
  text-transform: uppercase;
}

.section2-wrapper {
  text-align: center;
}
.section2-wrapper .paragraph1 h2 {
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .section2-wrapper .paragraph1 h2 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section2-wrapper .paragraph1 h2 {
    font-size: 6vw;
  }
}
.section2-wrapper .paragraph1 .p1 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  letter-spacing: 1px;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .section2-wrapper .paragraph1 .p1 {
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .section2-wrapper .paragraph1 .p1 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.section3-h3-right {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 820px) {
  .section3-h3-right {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section3-h3-right {
    font-size: 6vw;
  }
}

.section3-h3-left {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
}
@media only screen and (max-width: 820px) {
  .section3-h3-left {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section3-h3-left {
    font-size: 6vw;
  }
}

.p2 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  letter-spacing: 1px;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .p2 {
    text-align: center;
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p2 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.p3 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  letter-spacing: 1px;
  text-align: right;
}
@media only screen and (max-width: 820px) {
  .p3 {
    text-align: center;
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p3 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.button1,
.button2,
.button3,
.button4 {
  font-family: "Playfair Display";
  font-size: 1.5vw;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .button1,
.button2,
.button3,
.button4 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .button1,
.button2,
.button3,
.button4 {
    font-size: 3.5vw;
  }
}

.section4-h3 {
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .section4-h3 {
    text-align: center;
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section4-h3 {
    font-size: 6vw;
  }
}

.p4 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  text-align: left;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .p4 {
    text-align: center;
    font-size: 3vw;
    text-align: center;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p4 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.section6-h3 {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 820px) {
  .section6-h3 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .section6-h3 {
    font-size: 6vw;
  }
}

.p5 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  text-align: left;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .p5 {
    text-align: center;
    font-size: 3vw;
    line-height: 4vw;
  }
}
@media only screen and (max-width: 320px) {
  .p5 {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.copyright {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  color: #FAFAFA;
}
@media only screen and (max-width: 820px) {
  .copyright {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 320px) {
  .copyright {
    font-size: 4vw;
  }
}

.contact-h1 {
  font-size: 5.5vw;
}

.form-container,
.form-container2 {
  font-family: "Roboto";
  font-size: 1.8vw;
  font-style: normal;
}
@media only screen and (max-width: 820px) {
  .form-container input,
.form-container2 input {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 320px) {
  .form-container input,
.form-container2 input {
    font-size: 3.5vw;
  }
}
@media only screen and (max-width: 820px) {
  .form-container textarea,
.form-container2 textarea {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 320px) {
  .form-container textarea,
.form-container2 textarea {
    font-size: 3.5vw;
  }
}
.form-container .submit-button,
.form-container2 .submit-button {
  font-family: "Playfair Display";
  font-size: 1.8vw;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .form-container .submit-button,
.form-container2 .submit-button {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .form-container .submit-button,
.form-container2 .submit-button {
    font-size: 3.5vw;
  }
}

.p6 {
  font-family: "Playfair Display";
  font-size: 2w;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
}
@media only screen and (max-width: 320px) {
  .p6 {
    font-size: 4vw;
    text-align: center;
  }
}

.p7,
.p8,
.p9 {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 2.5vw;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
}
@media only screen and (max-width: 820px) {
  .p7,
.p8,
.p9 {
    text-align: left;
    font-size: 2vw;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .p7,
.p8,
.p9 {
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
  }
}

.blog-h1 {
  font-size: 4.5vw;
}
@media only screen and (max-width: 820px) {
  .blog-h1 {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 320px) {
  .blog-h1 {
    font-size: 8vw;
  }
}

.about {
  border-bottom: 3px solid #4CEEA7;
  padding-bottom: 1%;
}

.lower-p1-h3,
.lower-p2-h3 {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .lower-p1-h3,
.lower-p2-h3 {
    font-size: 5vw;
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  .lower-p1-h3,
.lower-p2-h3 {
    font-size: 6vw;
    text-align: center;
  }
}

.comments-h3 {
  font-size: 2vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (max-width: 820px) {
  .comments-h3 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .comments-h3 {
    font-size: 6vw;
    text-align: center;
  }
}

@media only screen and (max-width: 820px) {
  ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 320px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
}

li {
  color: #4CEEA7;
  margin: 0;
}
@media only screen and (max-width: 820px) {
  li {
    text-align: left;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  li {
    text-align: center;
    line-height: 5vw;
  }
}
li .post-a {
  font-family: "Roboto";
  font-size: 1.5vw;
  font-style: normal;
  line-height: 2.5vw;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0;
  color: black;
}
@media only screen and (max-width: 820px) {
  li .post-a {
    text-align: left;
    font-size: 2vw;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  li .post-a {
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
  }
}

.button5 {
  font-weight: bold;
  font-style: italic;
  border: none;
  background-color: white;
}

.right-p-h2 {
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media only screen and (max-width: 820px) {
  .right-p-h2 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 320px) {
  .right-p-h2 {
    font-size: 6vw;
  }
}

.find1 {
  font-family: "Playfair Display";
  font-size: 1.5vw;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .find1 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .find1 {
    font-size: 3.5vw;
  }
}

.find2 {
  font-family: "Roboto";
  font-size: 1.5vw;
  line-height: 2.5vw;
  letter-spacing: 1px;
  margin: 0;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .find2 {
    text-align: left;
    font-size: 2vw;
    line-height: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .find2 {
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
  }
}

.read1 {
  font-family: "Playfair Display";
  font-size: 1.5vw;
  text-transform: uppercase;
  font-style: italic;
  line-height: 3vw;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 820px) {
  .read1 {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 320px) {
  .read1 {
    font-size: 3.5vw;
  }
}

body {
  background-color: #EFFDF3;
  margin: 0 auto;
}

.section1-wrapper {
  position: relative;
  max-width: 2560px;
}
.section1-wrapper .nav1 {
  width: 100%;
  max-width: 1920px;
  position: absolute;
  top: 2%;
  padding-right: 5%;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .nav1 {
    display: none;
  }
}
.section1-wrapper .nav1 ul {
  list-style-type: none;
  gap: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.section1-wrapper .fa-bars {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .fa-bars {
    background-color: rgb(241, 234, 234);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 5vw;
    padding: 2%;
  }
}
.section1-wrapper .image1 {
  width: 100%;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .image1 {
    width: 100%;
  }
}
.section1-wrapper .image2 {
  height: 100%;
  width: 45%;
  right: 0;
  bottom: -20%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 30px solid #FDFA69;
  border-top: 35px solid #FDFA69;
  border-left: 30px solid #FDFA69;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .image2 {
    display: none;
  }
}
.section1-wrapper .image2 {
  height: 80%;
  position: absolute;
  right: 0;
  bottom: -20%;
}
.section1-wrapper .h1-container {
  width: 100%;
  height: 100%;
}
.section1-wrapper .h1-container h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 55%;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 820px) {
  .section1-wrapper .h1-container h1 {
    top: 65%;
    left: 45%;
    width: 50%;
    text-align: right;
    border-bottom: 10px solid #FDFA69;
  }
}
@media only screen and (max-width: 320px) {
  .section1-wrapper .h1-container h1 {
    top: 40%;
  }
}

.nav1-a1:hover {
  color: #4CEEA7;
}

.find1:hover {
  color: #FDFA69;
}

.read1:hover {
  color: #FDFA69;
}

.section2-wrapper {
  margin: 15% 13% 15% 13%;
}
@media only screen and (max-width: 820px) {
  .section2-wrapper {
    margin: 15% 5%;
  }
}
.section2-wrapper .button1 {
  border: none;
  background-color: #4CEEA7;
  padding: 1% 2%;
}

.section3-wrapper {
  background-color: white;
}
.section3-wrapper .section3-all .section3-upper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15%;
}
@media only screen and (max-width: 820px) {
  .section3-wrapper .section3-all .section3-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.section3-wrapper .section3-all .section3-upper .section3-left-image {
  width: 110%;
  height: 100%;
  box-shadow: 52px 49px 0px -2px rgb(253, 250, 105);
  -webkit-box-shadow: 52px 49px 0px -2px rgb(253, 250, 105);
  -moz-box-shadow: 52px 49px 0px -2px rgb(253, 250, 105);
  -webkit-transform: translateY(-14%);
          transform: translateY(-14%);
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 820px) {
  .section3-wrapper .section3-all .section3-upper .section3-left-image {
    height: 80%;
    width: 90%;
  }
}
.section3-wrapper .section3-all .section3-upper .section3-upper-right {
  padding-bottom: 10%;
}
@media only screen and (max-width: 820px) {
  .section3-wrapper .section3-all .section3-upper .section3-upper-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0% 13% 0;
  }
}
.section3-wrapper .section3-all .section3-upper .section3-upper-right .button2 {
  border: none;
  background-color: #4CEEA7;
  padding: 1% 2%;
}
.section3-wrapper .section3-all .section3-lower {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15%;
  margin-top: 5%;
}
@media only screen and (max-width: 820px) {
  .section3-wrapper .section3-all .section3-lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section3-wrapper .section3-all .section3-lower .section3-lower-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10% 0;
}
@media only screen and (max-width: 820px) {
  .section3-wrapper .section3-all .section3-lower .section3-lower-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}
.section3-wrapper .section3-all .section3-lower .section3-lower-left .p3 {
  margin-top: 0;
}
.section3-wrapper .section3-all .section3-lower .section3-lower-left .button3 {
  border: none;
  background-color: #4CEEA7;
  padding: 1% 2%;
}
.section3-wrapper .section3-all .section3-lower .section3-lower-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section3-wrapper .section3-all .section3-lower .section3-right-image {
  width: 100%;
  height: 90%;
  box-shadow: -42px 34px 0px 6px rgb(253, 250, 105);
  -webkit-box-shadow: -42px 34px 0px 6px rgb(253, 250, 105);
  -moz-box-shadow: -42px 34px 0px 6px rgb(253, 250, 105);
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 820px) {
  .section3-wrapper .section3-all .section3-lower .section3-right-image {
    height: 80%;
    width: 90%;
    margin: 5% 0 0 0;
    -webkit-transform: none;
            transform: none;
  }
}

.section4-wrapper {
  width: 100%;
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section4-wrapper .section4-all {
  margin: 0 5%;
}
.section4-wrapper .section4-all .section4-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .section4-all .section4-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section4-wrapper .section4-all .section4-upper .section4-upper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 5%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .section4-all .section4-upper .section4-upper-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section4-wrapper .section4-all .section4-upper .section4-upper-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 5%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .section4-all .section4-upper .section4-upper-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section4-wrapper .section4-lower {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .section4-lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section4-wrapper .section4-lower .section4-lower-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 5%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .section4-lower .section4-lower-left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section4-wrapper .section4-lower .section4-lower-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 5%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .section4-lower .section4-lower-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5%;
  }
}
.section4-wrapper .icon1 {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .icon1 {
    width: 100%;
  }
}
.section4-wrapper .fa-camera {
  font-size: 3vw;
  background: #4CEEA7;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  padding: 20%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .fa-camera {
    width: 100%;
    background: none;
    font-size: 9vw;
    padding: 0;
    text-shadow: -3vw -3vw 3px #4CEEA7;
  }
}
.section4-wrapper .fa-users-line {
  font-size: 3vw;
  background: #4CEEA7;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  padding: 15%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .fa-users-line {
    width: 100%;
    background: none;
    font-size: 9vw;
    padding: 0;
    text-shadow: -3vw -3vw 3px #4CEEA7;
  }
}
.section4-wrapper .fa-file {
  font-size: 3vw;
  background: #4CEEA7;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  padding: 15% 0 0 25%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .fa-file {
    width: 100%;
    background: none;
    font-size: 9vw;
    padding: 0;
    text-shadow: -3vw -3vw 3px #4CEEA7;
  }
}
.section4-wrapper .fa-phone-flip {
  font-size: 3vw;
  background: #4CEEA7;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  padding: 20%;
}
@media only screen and (max-width: 820px) {
  .section4-wrapper .fa-phone-flip {
    width: 100%;
    background: none;
    font-size: 9vw;
    padding: 0;
    text-shadow: -3vw -3vw 3px #4CEEA7;
  }
}
.section4-wrapper .section4-h3 {
  margin-top: 0;
}

.section5 {
  margin-top: 10%;
  width: 100%;
}
@media only screen and (max-width: 320px) {
  .section5 {
    display: none;
  }
}
.section5 .section5-image {
  width: 100%;
}
.section5 .section5-image .banner {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6-wrapper {
  margin-top: 10%;
  width: 100%;
}
.section6-wrapper .section6-all {
  width: 90%;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 820px) {
  .section6-wrapper .section6-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section6-wrapper .section6-all .section6-left {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 820px) {
  .section6-wrapper .section6-all .section6-left {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20%;
  }
}
.section6-wrapper .section6-all .section6-left .left-image {
  width: 80%;
  height: 100%;
  box-shadow: 37px 34px 0px 6px rgb(253, 250, 105);
  -webkit-box-shadow: 37px 34px 0px 6px rgb(253, 250, 105);
  -moz-box-shadow: 37px 34px 0px 6px rgb(253, 250, 105);
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 820px) {
  .section6-wrapper .section6-all .section6-left .left-image {
    width: 100%;
  }
}
.section6-wrapper .section6-all .section6-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section6-wrapper .section6-all .section6-right .section6-h3 {
  margin-top: 0;
}
.section6-wrapper .section6-all .section6-right .p5 {
  margin-top: 0;
}
.section6-wrapper .section6-all .section6-right .button4 {
  border: none;
  background-color: #4CEEA7;
  padding: 1% 2%;
}

footer {
  background-color: #FAFAFA;
  margin-top: 10%;
  width: 100%;
  height: 100%;
}
footer .gallery-container {
  margin: 5%;
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 820px) {
  footer .gallery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1%;
  }
}
@media only screen and (max-width: 320px) {
  footer .gallery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .gallery-container .gallery1,
footer .gallery-container .gallery2,
footer .gallery-container .gallery3 {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 820px) {
  footer .gallery-container .gallery1,
footer .gallery-container .gallery2,
footer .gallery-container .gallery3 {
    width: 48%;
  }
}
@media only screen and (max-width: 320px) {
  footer .gallery-container .gallery1,
footer .gallery-container .gallery2,
footer .gallery-container .gallery3 {
    width: 70%;
    padding: 1% 0;
  }
}
@media only screen and (max-width: 820px) {
  footer .gallery3 {
    display: none;
  }
}
footer .footer-wrapper {
  background-color: #2C2C2C;
  padding: 1%;
}
footer .footer-wrapper .copyright {
  margin: 0;
}

.gallery1 {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.gallery1:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.gallery2 {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.gallery2:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.gallery3 {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.gallery3:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.left-image {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.left-image:hover {
  border-radius: 50%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}